/* Navbar.module.css */

.nav-link {
    transition: transform 0.2s ease, color 0.2s ease, box-shadow 0.2s ease;
}

.nav-link:hover {
    transform: scale(2);
    /* Membesarkan teks sedikit */
    color: #6b46c1;
    /* Mengubah warna teks */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* Menambah bayangan */
}

.contact-btn:hover {
    background-color: #5a3d9e;
    /* Mengubah warna latar belakang saat hover */
    transform: scale(1.1);
    /* Membesarkan tombol */
}